* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* FLEXBOX */
  
  .flex-item-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .flex-item-footer {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  .flex-item-footer-marcas {
    width: 11vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  /* GRID */
  .grid-container {
    display: grid;
    width: 100vw;
    justify-content: space-around;
    grid-template-areas:
      "banner banner banner"
      "navbar navbar navbar"
      "site    marcas   redes"
      " copyright     copyright   copyright";
  }
  
  /* GRID AREAS */
  #header-banner {
    grid-area: banner;
    justify-content: space-evenly;
  }
  #header-navbar {
    grid-area: navbar;
  }
  #footer-site {
    grid-area: site;
  }
  #footer-marcas {
    grid-area: marcas;
  }
  #footer-redes {
    grid-area: redes;
  }
  #footer-copyright {
    grid-area: copyright;
  }
  #card-img {
    grid-area: productimg;
    
  }
  #card-body {
    grid-area: cardbody;
  }
  
  /* FORMATO HEADER */
  header div img {
    border-radius: 50%;
  }
  header nav ul {
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-around;
  }
  header nav ul li {
    display: flex;
  }
  header nav ul li a {
    text-decoration: none;
    color: black;
  }
  
  /* formato footer */
  footer div ul {
    list-style: none;
  }
  footer div ul li a {
    text-decoration: none;
    color: black;
  }
  
  /* TAMAÑO LOGOS REDES SOCIALES */
  .logos-redes {
    height: 1.5rem;
    width: 1.5rem;
  }
  
  /* FORMATO CARD
  .card {
     DIMENSIONES Y BACKGROUND 
    width: 200px;
    height: 220px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
    /* GRID 
    grid-template-areas:
      "productimg"
      "cardbody";
    justify-items: center;
    border-radius: 5%;
      
  }
  
  .c-img{
    max-width: 80%;
    height: auto;
    border-radius: 10%;
    border: 3px solid black;  
  } */
  
  
  
  /* MEDIA  QUERY */
  @media screen {
  }
  