* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* FLEXBOX */
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.flex-item-r {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.flex-item-c {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.flex-item-footer-marcas {
  width: 11vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
/* GRID */
.grid-container {
  display: grid;
  width: 100vw;
  justify-content: space-around;
  margin-bottom: 3vh;
  grid-template-areas:
    "banner banner banner"
    "navbar navbar navbar"
    "sidebar   grilla      grilla"
    "site    marcas   redes"
    " copyright     copyright   copyright";
}

/* GRID AREAS */

#header-banner {
  grid-area: banner;
  justify-content: space-evenly;
}
#header-navbar {
  grid-area: navbar;
}
#sidebar {
  grid-area: sidebar;
}
#footer-site {
  grid-area: site;
}
#footer-marcas {
  grid-area: marcas;
}
#footer-redes {
  grid-area: redes;
}
#footer-copyright {
  grid-area: copyright;
}
#card-img {
  grid-area: productimg;
}
#card-body {
  grid-area: cardbody;
}
#grilla-productos{
  grid-area: grilla;
  width: 70vw;
}

/* FORMATO HEADER */
header div img {
  border-radius: 50%;
}
header nav ul {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-around;
}
header nav ul li {
  display: flex;
}
header nav ul li a {
  text-decoration: none;
  color: black;
}

/*FORMATO FORM*/
form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 1rem;
  width: 50vw;
  background-color: rgba(161, 161, 161, 0.418);
  border-radius: 15%;
}
form div {
  display: flex;
  flex-flow: column wrap;
  margin: 0.5rem;
}
form input {
  height: 5vh;
  width: 15vw;
  border-radius: 25px;
}
form textarea {
  resize: none;
  width: auto;
}

/* FORMATO FOOTER */
footer div ul {
  list-style: none;
}
footer div ul li a {
  text-decoration: none;
  color: black;
}

/* TAMAÑO LOGOS REDES SOCIALES */
.logos-redes {
  height: 1.5rem;
  width: 1.5rem;
}

/* FORMATO CARD */

.card{
  width: 20vw;
}
.card-img-top {
  width: 200px;
  height: 220px;
}
.card-text {
  font-size: small;
}
.card-list {
  font-size: small;
}
/* SUBRAYADO DE PALABRAS
.subrayado {
  text-decoration: underline;
} */

/* FORMATO SIDEBAR */
nav.menu-lateral {
  background-color: rgba(133, 133, 133, 0.1);
  display: grid;
  justify-items: center;
  padding: 1rem;
  width: 13vw;
  height: max-content;
}
nav.menu-lateral ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  width: 100%;
}
.submenu-noshow {
  display: none;
}
.submenu-show {
  display: block; 
}
.rotate{
  transform: rotate(-180deg);
}

nav.menu-lateral ul li a{
  display: flex;
  justify-content:space-between;
  align-items: center;

}


nav.menu-lateral ul li a:hover i{
  transform: rotate(-180deg);
  
}


nav.menu-lateral ul li ul {
  padding: 0;
}

nav.menu-lateral a {
  text-decoration: none;
  color: black;
}

/* MEDIA  QUERY */
@media screen {
}
