{% include 'header-logged.html'%}
<nav class="navbar navbar-expand navbar-light bg-light" id="header-navbar">
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link active" href="" aria-current="page">Administrador <span
          class="visually-hidden">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{{url_for('stock')}}" aria-current="page">Stock </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('alta')}}">Alta de Productos</a>
    </li>
  </ul>
</nav>
<form class="form-inline" method="post" id="stockform" action="/crear" enctype="multipart/form-data">

  <div class="flex-container">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre del Producto</label>
      <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre del producto">
    </div>

    <div class="mb-3">
      <label for="categoria" class="form-label">Categoria</label>
      <select class="form-select form-select-lg" name="categoria" id="categoria" form="stockform">
        <option selected>Selecciona uno</option>
        <option value="HDD">Almacenamiento - HDD</option>
        <option value="SSD">Almacenamiento - SSD</option>
        <option value="SSDM2">Almacenamiento - SSD M2</option>
        <option value="BRONZE">Fuentes - BRONZE</option>
        <option value="GOLD">Fuentes - GOLD</option>
        <option value="GABINETE">Gabinetes</option>
        <option value="DDR4">Memoria Ram - DDR4</option>
        <option value="DDR5">Memoria Ram - DDR5</option>
        <option value="MICRO_INTEL">Microprocesadores - INTEL</option>
        <option value="MICRO_AMD">Microprocesadores - AMD</option>
        <option value="MOTHER_INTEL">Motherboards - INTEL</option>
        <option value="MOTHER_AMD">Motherboards - AMD</option>
        <option value="NOTEBOOK">Notebooks</option>
        <option value="GPU_NVIDIA">Placas de Video - NVIDIA</option>
        <option value="GPU_AMD">Placas de Video - AMD</option>
        <option value="REFRIGERACION_AIRE">Refrigeración - AIRE</option>
        <option value="REFRIGERACION_WATER">Refrigeración - WATER</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="precio" class="form-label">Precio Unitario</label>
      <div class="flex-price">
        <span class="input-group-text">$</span>
        <input type="number" class="form-control" name="precio" id="precio" placeholder="Precio por unidad del producto">
      </div>
      

    </div>

    <div class="mb-3">
      <label for="cantidad" class="form-label">Cantidad</label>
      <input type="number" class="form-control" min=1 name="cantidad" id="cantidad" placeholder="Cantidad de productos">
    </div>

    <div class="mb-3">
      <label for="foto" class="form-label">Imagen del Producto</label>
      <input type="file" class="form-control" name="foto" id="foto">
    </div>

  </div>






  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="reset" class="btn btn-primary">Reset</button>


</form>
{% include 'footer.html'%}