{% include 'header.html'%}

<div class="flex-item-info">
  <h3>Quienes somos?</h3>
  <p>
    Somos E-Component Gaming Store, una empresa líder en la venta de componentes electrónicos dirigida a un público
    general. Nos especializamos en ofrecer una amplia variedad de productos de alta calidad, desde Perifericos y
    Teclados hasta microprocesadores y placas de video, adecuados tanto para aficionados como para profesionales del
    sector.
  </p>
  <p>
    Nuestro compromiso es proporcionar a nuestros clientes los mejores componentes electrónicos del mercado a precios
    competitivos, asegurando la durabilidad y eficiencia de cada uno de nuestros productos.
  </p>
</div>

<h3>Que dicen los clientes sobre nosotros?</h3>
<div class="review-container">
  <div class="rating-summary">
    <div class="average-rating">

      <span class="rating-value">4.8</span>
      <span class="rating-stars">★ ★ ★ ★ ★</span>
      <span class="rating-count">32623 calificaciones</span>
    </div>
    <div class="rating-breakdown">
      <div class="rating-bar">
        <span class="stars">5 ★</span>
        <div class="bar">
          <div class="fill" style="width: 80%;"></div>
        </div>
      </div>
      <div class="rating-bar">
        <span class="stars">4 ★</span>
        <div class="bar">
          <div class="fill" style="width: 35%;"></div>
        </div>
      </div>
      <div class="rating-bar">
        <span class="stars">3 ★</span>
        <div class="bar">
          <div class="fill" style="width: 3%;"></div>
        </div>
      </div>
      <div class="rating-bar">
        <span class="stars">2 ★</span>
        <div class="bar">
          <div class="fill" style="width: 1%;"></div>
        </div>
      </div>
      <div class="rating-bar">
        <span class="stars">1 ★</span>
        <div class="bar">
          <div class="fill" style="width: 1%;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="feature-ratings">
    <div class="feature">
      <span>Relación precio-calidad</span>
      <div class="stars">★★★★★</div>
    </div>
    <div class="feature">
      <span>Atencion al cliente</span>
      <div class="stars">★★★★✰</div>
    </div>
    <div class="feature">
      <span>Compromiso</span>
      <div class="stars">★★★★★</div>
    </div>
    <div class="feature">
      <span>Buena onda</span>
      <div class="stars">★★★★★</div>
    </div>
  </div>
  <div class="photo-reviews">
    <div class="photo-review">
      <img src="Imagenes/Imagenes-Opiniones/Opinion1.png" alt="Review Photo 1">
      <div class="stars">★★★★★</div>
    </div>
    <div class="photo-review">
      <img src="Imagenes/Imagenes-Opiniones/Opinion2.JPG" alt="Review Photo 2">
      <div class="stars">★★★★★</div>
    </div>
    <div class="photo-review">
      <img src="Imagenes/Imagenes-Opiniones/Opinion3.png" alt="Review Photo 3">
      <div class="stars">★★★★★</div>
    </div>
    <div class="photo-review">
      <img src="Imagenes/Imagenes-Opiniones/Opinion4.png" alt="Review Photo 4">
      <div class="stars">★★★★★</div>
    </div>
  </div>
  <h3>Opiniones destacadas</h3>
  <div class="featured-review">
    <h4>Marcos - </h4>
    <p>Estoy encantado con mi experiencia en E-Components Gaming Store. Este local es una verdadera joya para los
      entusiastas de la tecnología y los gamers. Tienen una impresionante selección de componentes electrónicos, desde
      microprocesadores y memorias RAM hasta placas de video y periféricos. La calidad de los productos es
      insuperable, y siempre encuentro exactamente lo que necesito para mejorar mi PC y llevar mi experiencia de juego
      al siguiente nivel.</p>
  </div>
  <div class="featured-review">
    <h4>Maria - </h4>
    <p>Lo que realmente destaca de E-Components Gaming Store es el servicio al cliente. El personal es extremadamente
      conocedor y siempre está dispuesto a ofrecer asesoramiento experto. Me ayudaron a elegir los componentes
      adecuados para mi configuración específica y me dieron consejos útiles sobre la instalación y el mantenimiento.
    </p>
  </div>
  <div class="featured-review">
    <h4>Miguel - </h4>
    <p>El ambiente en la tienda es moderno y bien organizado, lo que hace que la experiencia de compra sea muy
      agradable. Sin duda, recomiendo E-Components Gaming Store a cualquiera que esté buscando componentes
      electrónicos de alta calidad y un servicio al cliente excepcional. ¡Volveré definitivamente para mis futuras
      compras de tecnología!</p>
  </div>
</div>

{% include 'footer.html'%}