<footer class="grid-container">
    <div id="footer-site" class="flex-item-c">
        <h5>Site Map</h5>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/productos.html">Productos</a></li>
            <li><a href="/contacto.html">Contacto</a></li>
        </ul>
    </div>
    <div id="footer-marcas" class="flex-item-c">
        <h5>Nuestras Marcas</h5>
        <div class="flex-item-footer-marcas">
            <ul>
                <li><a href="http://intel.com/" target="_blank">Intel</a></li>
                <li><a href="http://amd.com/" target="_blank">AMD</a></li>
                <li><a href="https://www.nvidia.com/" target="_blank">Nvidia</a></li>
            </ul>
            <ul>
                <li><a href="https://rog.asus.com" target="_blank">ROG</a></li>
                <li><a href="https://row.hyperx.com/" target="_blank">HyperX</a></li>
                <li><a href="http://corsair.com" target="_blank">Corsair</a></li>
            </ul>
        </div>

    </div>
    <div id="footer-redes" class="flex-item-c">
        <h5>Nuestras Redes</h5>
        <ul>
            <li>
                <a href="https://www.instagram.com" target="_blank"><img src="/static/Imagenes/instagram-new-2022-seeklogo.svg"
                        alt="Instagram" class="logos-redes" /></a>
            </li>

            <li>
                <a href="https://facebook.com" target="_blank"><img src="/static/Imagenes/facebook-seeklogo.svg" alt="Facebook"
                        class="logos-redes" /></a>
            </li>

            <li>
                <a href="https://chat.whatsapp.com/D9dpLXgB0z9IrGhmtQilHQ" target="_blank"><img
                        src="/static/Imagenes/whatsapp-icon-seeklogo.svg" alt="Whatsapp" class="logos-redes" /></a>
            </li>

        </ul>
    </div>
    <div id="footer-copyright" class="flex-item-c">
        <p>Codo a Codo 2024</p>
        <p>Gabriel Aballay - Lucas Povolo</p>
    </div>
</footer>

</body>

</html>