<nav class="menu-lateral" id="sidebar">
  <h5 style="font-size: 1.5em; font-weight: bold; margin-bottom: 20px;">CATEGORIAS</h5>
  <ul style="list-style: none; padding: 0;">
    <li >
      <a id="toggle" onclick="toggleFunc(this.id)" style="text-decoration: none;">
        <button type="button" class="btn btn-primary latnav" style="width: 100%;   display: flex; justify-content: space-between; align-items: center; font-size: 1em;" data-bs-toggle="button" aria-pressed="false" autocomplete="off">
      Microprocesadores
          <i class="fa-solid fa-caret-down" style="margin-left: auto;"></i>
        </button>
      </a>
      <ul class="submenu-noshow">
        <li >
          <a href="{{url_for('productos', categoria ='MICRO_INTEL')}}">        
            <button type="button" class="btn btn-outline-primary" style="width: 100%;">INTEL</button>           
          </a>
        </li>
        <li >
          <a href="{{url_for('productos', categoria ='MICRO_AMD')}}">
            <button type="button" class="btn btn-outline-primary" style="width: 100%;">AMD</button>
          </a>
        </li>
      </ul>
    </li>
    <li >
      <a href="#" id="toggle2" onclick="toggleFunc(this.id)" style="text-decoration: none;">
        <button type="button" class="btn btn-primary latnav" style="width: 100%;   display: flex; justify-content: space-between; align-items: center; font-size: 1em;" data-bs-toggle="button" aria-pressed="false" autocomplete="off">
          Motherboards
          <i class="fa-solid fa-caret-down" style="margin-left: auto;"></i>
        </button>
      </a>
      <ul class="submenu-noshow">
        <li>
          <a href="{{url_for('productos', categoria ='MOTHER_INTEL')}}"><button type="button" class="btn btn-outline-primary" style="width: 100%;">INTEL</button> </a>
        </li>
        <li >
          <a href="{{url_for('productos', categoria ='MOTHER_AMD')}}"><button type="button" class="btn btn-outline-primary" style="width: 100%;">AMD</button>  </a>
        </li>
      </ul>
    </li>
    <li >
      <a href="#" id="toggle3" onclick="toggleFunc(this.id)" style="text-decoration: none;">
        <button type="button" class="btn btn-primary latnav" style="width: 100%;   display: flex; justify-content: space-between; align-items: center; font-size: 1em;" data-bs-toggle="button" aria-pressed="false" autocomplete="off">
        Memoria Ram
          <i class="fa-solid fa-caret-down" style="margin-left: auto;"></i>
        </button>
      </a>
      <ul class="submenu-noshow">
         <li><a href="{{url_for('productos', categoria ='DDR4')}}"><button type="button" class="btn btn-outline-primary" style="width: 100%;">DDR4</button>  </a></li>
         <li><a href="{{url_for('productos', categoria ='DDR5')}}"><button type="button" class="btn btn-outline-primary" style="width: 100%;">DDR5</button>  </a></li>
      </ul>
    </li>
     <li>
      <a href="#" id="toggle4" onclick="toggleFunc(this.id)" style="text-decoration: none;">
        <button type="button" class="btn btn-primary latnav" style="width: 100%;   display: flex; justify-content: space-between; align-items: center; font-size: 1em;" data-bs-toggle="button" aria-pressed="false" autocomplete="off">
        Almacenamiento
          <i class="fa-solid fa-caret-down" style="margin-left: auto;"></i>
        </button>
      </a>
      <ul class="submenu-noshow">
         <li>
          <a href="{{url_for('productos', categoria ='HDD')}}"><button type="button" class="btn btn-outline-primary" style="width: 100%;">HDD</button>  </a>
        </li>
         <li>
          <a href="{{url_for('productos', categoria ='SSD')}}"><button type="button" class="btn btn-outline-primary" style="width: 100%;">SSD</button>  </a>
        </li>
         <li>
          <a href="{{url_for('productos', categoria ='SSDM2')}}"><button type="button" class="btn btn-outline-primary" style="width: 100%;">SSD M2</button>  </a>
        </li>
      </ul>
    </li>
     <li>
      <a href="#" id="toggle5" onclick="toggleFunc(this.id)" style="text-decoration: none;">
        <button type="button" class="btn btn-primary latnav" style="width: 100%;   display: flex; justify-content: space-between; align-items: center; font-size: 1em;" data-bs-toggle="button" aria-pressed="false" autocomplete="off">
        Placas de Video
          <i class="fa-solid fa-caret-down" style="margin-left: auto;"></i>
        </button>
      </a>
      <ul class="submenu-noshow">
         <li><a href="{{url_for('productos', categoria ='GPU_NVIDIA')}}"><button type="button" class="btn btn-outline-primary" style="width: 100%;">NVIDIA</button>  </a></li>
         <li><a href="{{url_for('productos', categoria ='GPU_AMD')}}"><button type="button" class="btn btn-outline-primary" style="width: 100%;">AMD</button>  </a></li>
      </ul>
    </li>
     <li>
      <a href="#" id="toggle6" onclick="toggleFunc(this.id)" style="text-decoration: none;">
        <button type="button" class="btn btn-primary latnav" style="width: 100%;   display: flex; justify-content: space-between; align-items: center; font-size: 1em;" data-bs-toggle="button" aria-pressed="false" autocomplete="off">
        Fuentes
          <i class="fa-solid fa-caret-down" style="margin-left: auto;"></i>
        </button>
      </a>
      <ul class="submenu-noshow">
         <li><a href="{{url_for('productos', categoria ='BRONZE')}}"><button type="button" class="btn btn-outline-primary" style="width: 100%;">BRONZE</button>  </a></li>
         <li><a href="{{url_for('productos', categoria ='GOLD')}}"><button type="button" class="btn btn-outline-primary" style="width: 100%;">GOLD</button>  </a></li>
      </ul>
    </li>
     <li>
      <a href="#" id="toggle7" onclick="toggleFunc(this.id)" style="text-decoration: none;">
        <button type="button" class="btn btn-primary latnav" style="width: 100%;   display: flex; justify-content: space-between; align-items: center; font-size: 1em;" data-bs-toggle="button" aria-pressed="false" autocomplete="off">
        Refrigeración
          <i class="fa-solid fa-caret-down" style="margin-left: auto;"></i>
        </button>
      </a>
      <ul class="submenu-noshow">
         <li>
          <a href="{{url_for('productos', categoria ='REFRIGERACION_AIRE')}}"><button type="button" class="btn btn-outline-primary" style="width: 100%;">AIR COOLING</button>  </a>
        </li>
         <li>
          <a href="{{url_for('productos', categoria ='REFRIGERACION_WATER')}}"><button type="button" class="btn btn-outline-primary" style="width: 100%;">WATER COOLING</button>  </a>
        </li>
      </ul>
    </li>
     <li>
      <a href="{{url_for('productos', categoria ='GABINETE')}}">   <button type="button" class="btn btn-primary latnav" style="width: 100%;   font-size: 1em;" data-bs-toggle="button" aria-pressed="false" autocomplete="off">
        Gabinetes
          </button></a>
    </li>
     <li>
      <a href="{{url_for('productos', categoria ='NOTEBOOK')}}">   <button type="button" class="btn btn-primary latnav" style="width: 100%;   font-size: 1em;" data-bs-toggle="button" aria-pressed="false" autocomplete="off">
        Notebooks
          </button></a>
    </li>
    <ul class="submenu-show">
       <li>
        <a href="#header-banner">   
          <button type="button" class="btn btn-success latnav" style="width: 100%;   font-size: 1em; display: flex; justify-content: space-between; align-items: center;">
            Al Inicio
            <i class="fa-solid fa-arrow-up" style="margin-left: auto;"></i>
          </button>
        </a>
      </li>
       <li>
        <a href="{{url_for('productos')}}">   
          <button type="button" class="btn btn-danger latnav" style="width: 100%;   font-size: 1em; display: flex; justify-content: space-between; align-items: center;">
            Limpiar
            <i class="fa-solid fa-trash" style="margin-left: auto;"></i>
          </button>
        </a>
      </li>
    </ul>
  </ul>
</nav>
